* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}

.header {
  padding: 2rem 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header-link {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.header-links {
  text-decoration: none;
}

.hero {
  padding: 4.8rem 0;
}

.hero-title,
.header-logo {
  color: #f9faf8;
}

.hero-title {
  font-weight: 700;
  font-size: 4.8rem;
}

.flex-2-cols {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

.hero-title-description,
.header-links,
.info-image-description,
.cta-description,
.footer,
.modal {
  font-size: 1.8rem;
  color: #e5e7eb;
}

.hero-text {
  flex: 1;
}

.hero-title {
  line-height: 1;
  margin-bottom: 1.5rem;
}

.hero-title-description {
  margin-bottom: 1.5rem;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-photo {
  width: 100%;
}

.header-logo {
  font-size: 2.4rem;
}

.info {
  text-align: center;
  padding: 3.2rem;
  margin-bottom: 3.2rem;
}

.info-title {
  margin-bottom: 3.2rem;
}

.info-image-boxes {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.info-image-box {
  width: 15rem;
}

.info-image {
  border: 3px solid #3882f6;
  border-radius: 9px;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.info-image-description {
  text-align: center;
  color: #1f2937;
}

.cta-btn {
  border: none;
  background-color: #3882f6;
  border-radius: 9px;
  padding: 0.8rem 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.info-title {
  font-size: 3.6rem;
  font-weight: 700;
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  font-size: 3.2rem;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.quote-body {
  padding: 6.4rem;
}

.quote-text {
  margin-bottom: 1.8rem;
}

.quote-author {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: right;
  font-style: normal;
}

.cta {
  padding: 6.4rem;
}

.cta-box {
  padding: 3.2rem 8rem;
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-title {
  font-size: 2.4rem;
}

.cta .cta-btn {
  color: #f9faf8;
  border: 2px solid #f9faf8;
}

.footer {
  text-align: center;
  padding: 2rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  color: #1f2937;
  background-color: #f9faf8;
  width: 80rem;
  height: 30rem;
  padding: 5rem 6rem;
  border-radius: 9px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
}

.modal-text {
  color: inherit;
  font-size: 2rem;
  line-height: 1.5;
}

.btn--close-modal {
  font-family: inherit;
  font-size: 2.8rem;
  color: inherit;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
